{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>

    <ul class="main">
        {% for listing in listings %}
            <li class="row">
                <a href="{% url 'listing' listing.id %}">
                    <div class="column1">
                        <img src="{{ listing.picture }}" alt="" width="300" height="200">
                    </div>
                    <div class="column2">
                        <p style="font: 'Arial'; color: blue;">{{ listing.item }}</p>
                        <p>Price: ${{ listing.price }}</p>
                        <p>{{ listing.description }}</p>
                        <p>Created {{ listing.datetime }}</p>
                    </div>
                </a>
            </li>
        {% empty %}
            <li>None.</li>
        {% endfor %}
    </ul>
{% endblock %} 